/* https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=FF7043&secondary.color=8D6E63&primary.text.color=EFEBE9 */

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #f5f5f6;
}

html {
    overflow: hidden;
    font-size: 62.5%;
}

#wrapper, input {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-display: optional;
    font-size: 1.1rem;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
    #wrapper {
        margin: 15px auto;
        max-width: 768px;       
    }

    #wrapper, input {
        font-size: 2.0rem;
    }
}

main {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: 100%;
    row-gap: 16px;
}

header {
    padding: 12px;
    background: #ff7043;
    color: #efebe9;
    text-align: center;
    border-top: 12px solid #c63f17;
}

#numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}

#numpad button {
    display: block;
    width: 100%;
    min-height: 50px;
    background-color: #E1E2E1;
    border: none;
    outline: none !important;
}

.grid-results {
    display: grid;
    margin: 0 8px;
    grid-template-columns: 1fr auto auto 1fr auto auto 1fr auto auto 1fr auto;
    row-gap: 12px;
}

@media (min-width: 768px) {
    .grid-results {
        margin: 0;
    }
}

.grid-results div {
    align-self: center;
}

.field {
    display: flex;
}

input {
    text-align: right;
}

label {
    background-color: #8d6e63;
    color: white;
    text-align: center;
}

input, label {
    display: block;
    width: 100%;
    padding: 8px 4px;
    border: 1px solid #8d6e63;
}

equals {
    padding: 8px;
}